.background {
  background-image: url('../public/images/Create_Courses.png'); /* Путь к вашему изображению */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll; /* Обновлено на scroll */
  width: 100%;
  position: relative;
}

.content {
  height: 25000px;
  color: white;
}
