.background {
  background-image: url('/public/images/Create_Courses.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100%;
  height: 6328px;
  position: relative;
}

.content {
  height: 6328px;
  color: white;
}
